.container{
    background-color: rgb(244, 244, 244);
    max-height: 100vh;
    min-width: 100%;

    display: flex;
    overflow: hidden;

    border: 1px solid rgb(244, 244, 244);
}

.nav{
    display: flex;
    
    max-height: 100vh;

    border-right: 1px solid #d7d6d6;

    /* background-color: blue; */
}

.task{
    /* background-color: #FFF; */
    max-height: 100vh;
    width: 100%;

    overflow-y: scroll; 
    overflow-y: auto;
}
.home{
    /* background-color: green; */
    max-height: 100vh;
    max-width: 60%;

    /* overflow-y: scroll; */
    /* overflow-y: auto; */
}

.rutasProtegidas {
    min-width: 600px;
}

/* Carga */

.loading {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 30px;

    width: 100%;
    height: 100vh;

    border-radius: 30px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}