.conteiner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 100%;

    justify-content: center;
    align-items: center;

    background-color: #F4F4F4;

}

/* Img IConos */
.imgIconos{
    border: 1px solid black;
    border-radius: 50%;
    background-color: orange;
    padding: 2px;

    height: 45px;
    width: 45px;
}

.imgIconos1{
    border: 1px solid black;
    border-radius: 50%;
    background-color: yellow;
    padding: 2px;

    height: 45px;
    width: 45px;
}

.imgIconos2{
    border: 1px solid black;
    border-radius: 50%;
    background-color: greenyellow;
    padding: 2px;

    height: 45px;
    width: 45px;
}

.imgIconos3{
    border: 1px solid black;
    border-radius: 50%;
    background-color: paleturquoise;
    padding: 2px;

    height: 45px;
    width: 45px;
}

.imgIconos4{
    border: 1px solid black;
    border-radius: 50%;
    background-color: violet;
    padding: 2px;

    height: 45px;
    width: 45px;
}

.imgIconos5{
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    padding: 2px;

    height: 45px;
    width: 45px;
}


/* FORMULARIO */

.formC{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
        
    padding: 10px;
    
    min-height: 250px;
    width: 350px;

    /* border: 1px solid black; */
    border-radius: 20px;
    background-color: white;

    position: relative;
}

/* Posicion Category */

.ContentCategory{
    display: flex;
    align-items: center;
    justify-content: center;

    color: aliceblue;
    
    background-color: white;
    border-radius: 50%;

    height: 45px;
    width: 45px;

    position: absolute;
    top: -25px;
    left: 30px;
}

.title{
    font-weight: bold;
    font-size: 15px;
    color: white;

    text-align: center;
}

/* 
    medidas: dvh --> vh 
    text: text-balance <--> text-pretty 
*/

.inputs{
    /* border: 1px solid black; */
    border-radius: 15px;
    height: 30px;

    padding-left: 10px;
    padding-right: 10px;

    margin-bottom: 8px;

    background-color: #F4F4F4;

    
    width: 100%;
}

.inputs2{
    /* border: 1px solid black; */
    border-radius: 15px;
    background-color: #F4F4F4;
    height: 150px;
    
    padding: 10px;

    text-align: start;
}

.btn{
    border-radius: 20px;
    background-color: #F4F4F4;
    
    font-weight: bold;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    color: black;

    text-align: center;

    height: 30px;

    margin-top: 10px;

    transition: transform 0.4s ease-in-out;
}

.btn:hover{
    transform: scale(1.02);

    font-weight: bold;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    color: black;

    -webkit-box-shadow: -1px 8px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 8px 20px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 8px 20px -4px rgba(0,0,0,0.75);
}

/* Errors */
.ContentErerrors{
    /* background-color: blue; */
    /* border: 1px solid; */
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-height: 100px;
    width: 100%;

    margin-top: 10px;
}

.errores2{
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    font-weight: bold;
    
    color: white;
    text-align: start;

    padding: 2px 3px;

    margin-bottom: 5px;
}


/* Mobile */

@media screen and (max-width: 500px) {
    .formC{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
            
        padding: 10px;
        
        min-height: 250px;
        max-width: 290px;

        /* border: 1px solid black; */
        border-radius: 20px;
        background-color: white;
        
        position: relative;
    }
}