.conteiner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    justify-content: center;
    align-items: center;

    background-color: #eeee;
}

.conteinerBtn{
    display: flex;
    width: 90%;

    align-items: flex-start;
    background-color: #eeee;
}

.btnBack{
    border-radius: 20px;
    background-color: blue;
    
    font-weight: bold;
    font-size: 15px;
    color: white;

    text-align: center;
}

.title{
    font-weight: bold;
    font-size: 15px;
    color: white;

    text-align: center;
}

.formC{
    display: flex;
    flex-direction: column;

    justify-content: space-around;
        
    padding: 10px;
    
    min-height: 250px;
    width: 250px;

    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(0, 136, 255);
}

/* 
    medidas: dvh --> vh 
    text: text-balance <--> text-pretty 
*/

.inputs{
    border: 1px solid black;
    height: 30px;

    padding-left: 3px;
}

.inputs2{
    border: 1px solid black;
    height: 150px;

    padding-left: 3px;
}

.btn{
    border-radius: 20px;
    background-color: blue;
    
    font-weight: bold;
    font-size: 15px;
    color: white;

    text-align: center;
}