.container{
    min-height: 100vh;
    max-width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.containerTask{
    border: 1px solid black;

    width: 250px;
    height: 100vh;

    background-color: greenyellow;
}

/* LOADING */

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    width: 100%;
}

.loaderC {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 200px;

    font-weight: bolder;
    font-size: 20px;
    color: #FF3D00;
}

.loaders {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
  }
  
  @keyframes shadowPulse {
    33% {
      background: #FFF;
      box-shadow: -24px 0 #FF3D00, 24px 0 #FFF;
    }
    66% {
      background: #FF3D00;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 #FF3D00;
    }
  }
