.container0{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100%;
    
    /* padding: 0 100px;     */
    background-color: #f4f4f4;
}

.t{
    background-color: white;
    border-radius: 10px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bolder;
    text-align: start;
    justify-content: center;

    padding: 0 25px;
    margin-bottom: 8px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 20px;

    margin-top: 5px;

    max-width: 500px;
    height: fit-content;

    /* border: 1px double black; */
}

.containerImg{
    display: flex;
    
    max-width: 50%;
    min-height: 350px;

    /* background-color: green; */
}

.image{
    max-width: 100%;
    max-height: 100%;
    
    border-radius: 25px 0 0 25px;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: self-start;

    color: black;
    border-radius: 0 25px 25px 0;
    
    width: 50%;
    min-height: 350px;

    padding: 55px 15px;

    background-color: white;

    position: relative;
}

.edit{
    position: absolute;

    top: 10px;
    right: 10px;
}

.imgEdit{
    height: 18px;
    width: 18px;
}

.CInput{
    background-color: #f4f4f4;

    /* border: 1px solid #f4f4f4; */
    border-radius: 10px;

    height: 40px;
    min-width: 100%;

    padding: 8px 0 0 5px;
    margin-bottom: 25px;

    position: relative;
}
.nameInput{
    /* background-color: grey; */

    font-weight: 900;
    font-size: 18px;

    position: absolute;
    top: -15px;
    left: 10px;
}

.items{
    /* background-color: greenyellow; */
    margin-left: 15px;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
    text-align: start;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .container0{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        height: 100vh;
        width: 100%;
        
        /* padding: 0 100px;     */
        background-color: #f4f4f4;
    }
    
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        border-radius: 20px;
    
        margin-top: 5px;
    
        max-width: 350px;
        height: fit-content;

        background-color: white;
    }
    
    .containerImg{
        display: flex;
        align-items: flex-start;

        margin-top: 100px;
        margin-left: 15px;
                        
        max-width: 100px;
        min-height: 100%;
    }
    
    .image{
        max-width: 100%;
        
        border-radius: 25px 0 25px 0;
    }
    
    .container2{
        display: flex;
        flex-direction: column;
        align-items: self-start;
    
        color: black;
        border-radius: 0 25px 25px 0;
        
        width: 100%;
        min-height: 300px;
    
        padding: 55px 15px;
    
        background-color: white;
    
        position: relative;
    }
    
    .edit{
        position: absolute;
    
        top: 10px;
        right: 10px;
    }
    
    .imgEdit{
        height: 18px;
        width: 18px;
    }
    
    .CInput{
        background-color: #f4f4f4;
    
        border-radius: 10px;
    
        height: 40px;
        min-width: 180px;
    
        padding: 8px 0 0 5px;
        margin-bottom: 25px;
    
        position: relative;
    }
    .nameInput{
        /* background-color: grey; */
    
        font-weight: 900;
        font-size: 16px;
    
        position: absolute;
        top: -10px;
        left: 10px;
    }
    
    .items{
        /* background-color: greenyellow; */
        margin-left: 15px;
        
        font-family: 'Times New Roman', Times, serif;
        font-size: 13px;
        font-weight: bolder;
        text-align: start;
        justify-content: center;
    }
}