.task{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 80px;
    max-width: 350px;
    /* overflow: hidden; */

    padding: 0 10px;

    border: 1px solid black;
    border-radius: 5px;

    background-color: rgb(84, 152, 255);

}

.task:hover{
    border: 1px solid white;
    cursor: pointer;
}

/* Header */
.Cheader{
    display: flex;
    align-items: center;
    
    width: 100%;
}

.Ctitle{
    width: 55%;

    display: flex;
    justify-content: flex-end;
    /* background-color: blue; */
}

.Cbtns{
    width: 45%;

    display: flex;
    justify-content: flex-end;
    /* background-color: red; */
}

.btn {
    width: 19px;
    height: 19px;
    /* background-color: white; */

    /* border-radius: 50%; */

    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}



/* new content - click */

.clicked {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;
    width: 350px;

    padding: 0 10px;

    border: 1px solid black; 
    border-radius: 5px;

    background-color: rgb(84, 152, 255);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title{
    max-width: fit-content;
    min-height: fit-content;

    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
    text-align: start;
    color: white;

    margin-bottom: 5px;
}

.description0{
    /* border: 1px solid black; */
    
    max-width: 350px;
    overflow: hidden;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    
    font-size: 11px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    
    display: flex;
    align-items: center;
    padding: 0 5px ;
}

.description{
    display: block;
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px;
    
    max-width: 100%; /* Cambiado a max-width */
    min-height: 68%;
    /* overflow: hidden; */
    position: relative;

    font-size: 11px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    
    padding: 3px;

    overflow-wrap: break-word;
    white-space: pre-wrap;
}

/* Content Date and Button */

.contentDataBtn{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    /* border: 1px solid ; */
    height: 3em;
    width: 100%;
}

.date{
    
    max-width: 100%; /* Cambiado a max-width */
    /* min-height: 7%; */
    overflow: hidden;
    position: relative;

    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
    font-weight: bolder;
    text-align: center;
    color: black;
    
    padding: 3px;

    /* overflow-wrap: break-word;
    white-space: pre-wrap; */
}

/* content button delete and update */

.contentDelUpd{
    display: flex;
    justify-content: space-between;

    width: fit-content;

    padding: 0 5px;
}

/* button delete */

.bntDelUpd{
    border: 1px solid black;
    border-radius: 20px;
    
    width: fit-content;
    height: fit-content;
    padding: 0px 8px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
    font-weight: bolder;
    text-align: center;
    
    color: black;
    background-color: aliceblue;

    margin-bottom: 5px;
    margin-left: 5px;
}

.bntDelUpd{
    cursor: pointer;
}

/* Container stopwatch and Date */
.sw{
    width: 100%;
    border-top: 1px solid black;

    margin: 10px;
    padding-top: 10px;
}

.sw2{
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    height: fit-content;

    /* border-radius: 50px; */
}

.stopwatch-active .task {
    pointer-events: none;
}

.Ccalendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    max-width: 230px;

    /* border: 1px solid black; */
    border-radius: 5px;

    /* z-index: 800; */
}

.calendar {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
    max-width: 250px;

    border: 1px solid black;
    border-radius: 5px;

    z-index: 800;
}
  