.container0 {
    max-height: 100vh;
    min-width: 160px;
    border: 1px solid white;

    background-color: white;

    /* border: 5px solid red; */

    padding: 0 0 15px 0;    
}

.container {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    color: black;
    font-weight: bold;

    width: 160px;
    height: 100%;

    background-color: white;
}

.lis0Login{
    background-color: white;
    /* border: 1px solid black; */

    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 160px;
}

.liLogin{
    background-color: #F1F1F1;
    /* border: 1px solid black; */
    border-radius: 15px;
    
    height: 40px;
    width: 140px;

    margin-bottom: 5px;

    display: flex;
    justify-content: flex-start;
    /* text-align: center; */

    padding-left: 22%;
    padding-top: 5%;
    
    margin: 10px 0; 

    transition: transform 0.5s ease-in-out;
}

.liLogin:hover{
    -webkit-box-shadow: -1px 8px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 8px 20px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 8px 20px -4px rgba(0,0,0,0.75);

    transform: scale(1.08);

    /* border: 1px solid black; */
}

.profile{
    background-color: rgb(244, 244, 244);
    /* background-color: red; */
    display: flex;
    align-content: center;

    max-width: 160px;
    max-height: 70px;

    border-bottom-left-radius: 20px;
}

.ContentProfile{
    width: 100%;
    height: 100%;

    padding: 10px 5px;
    
    display: flex;
    justify-content: center;
    align-items: self-end;

    /* border-bottom: 1px solid black; */
    /* border-left: 1px solid black; */
    /* border-bottom-left-radius: 20px; */
}

.image{
    width: 40px;
    height: 40px;

    border-radius: 50%;
}

.lis0 {
    /* border: 1px solid white; */
    height: 100px;

    padding: 0 5px;
    
    display: flex;
    text-align: center;
    justify-content: flex-start;
}

.lis00 {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: self-end;

    padding-bottom: 5px;

    /* background-color: blue; */

    font-size: 16px;

    transition: transform 0.5s ease-in-out;
}

.lis00:hover {
    transform: scale(1.05);
}

.Clis{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    /* background-color: greenyellow; */

    max-width: 200px;
}

.lis {
    background-color: #F1F1F1;
    /* border: 1px solid black; */
    border-radius: 15px;
    
    height: 40px;
    width: 140px;

    margin-bottom: 5px;

    display: flex;
    justify-content: flex-start;
    /* text-align: center; */

    padding-left: 22%;
    padding-top: 5%;
    
    margin: 10px 0; 

    transition: transform 0.5s ease-in-out;
}

.lis:hover{
    -webkit-box-shadow: -1px 8px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 8px 20px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 8px 20px -4px rgba(0,0,0,0.75);

    transform: scale(1.08);

    /* border: 1px solid black; */
}

.loguot{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    max-width: 200px;
}