.container0 {
    min-width: 100px;
    border: 1px solid white;

    padding: 0 5px;

    background-color: #acd1ff;
}

.container {
    display: flex;
    flex-direction: column;

    /* justify-content: ; */
    /* text-align: center; */

    color: black;
    font-weight: bold;

    width: 130px;
    /* height: 100%; */

    /* background-color: aqua; */
}

.profile{
    /* background-color: red; */

    display: flex;
    align-content: center;

    max-width: 150px;
    height: 170px;
}

.ContentProfile{
    width: 100%;
    height: fit-content;

    padding: 10px 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: yellow; */
    border-bottom: 1px solid black;
}

.image{
    width: 40px;
    height: 40px;

    border-radius: 50%;
}

.lis0 {
    /* border: 1px solid white; */
    height: 100%;
    /* width: 60%; */

    padding: 0 5px;
    
    display: flex;
    text-align: start;
    /* justify-content: center; */
}

.lis00 {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
}

.Clis{
    /* background-color: greenyellow; */

    height: 200px;
}

.lis {
    /* border: 1px solid white; */
    height: 30px;
    width: 100%;

    margin-bottom: 5px;

    font-family:Arial, Helvetica, sans-serif;
    
    display: flex;
    text-align: center;
    justify-content: center;
}

.loguot{
    height: 250px;
    width: 100%;

    padding: 20px 0;

    display: flex;
    justify-content: center;
    align-items: self-end;
    
    /* background-color: red; */
}